@model Vidly.Models.MembershipType
@{
    ViewBag.Title = "New Membership Type";
}

<h2>New Membership Type</h2>

@using (Html.BeginForm("SaveMembershipType", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SignUpFee)
        @Html.TextBoxFor(m => m.SignUpFee, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SignUpFee)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DurationInMonths)
        @Html.TextBoxFor(m => m.DurationInMonths, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DurationInMonths)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Discount)
        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Discount)
    </div>

    <div class="form-group">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}